# Variables, Logic, Loops, Functions, and Classes

Python is a **strongly typed** language -- part of a variable definition is its data type. However it is also a **dynamically typed** language -- the variable type is determined during runtime.

In [ ]:
var1="3" #string
var2=3  #int
var3=3.0   #float
var4=True  #boolean
print(var1 + var2) #what is the output?
print("3 + 3")
print(var2 + var3)
print(var3 + var4)
print(var4)
print(var4 - var4)

3 + 3
6.0
4.0
True
0

**Everything in Python is an object**

In [ ]:
var1 = 12345
var2 = var1
print(id(var1))
print(id(var2))

135338984248912
135338984248912

In [ ]:
var2 = 54321
print(id(var1))
print(id(var2))

135338984248912
135338984249264

In [ ]:
var1 = 99999
print(id(var1))
print(id(var2))

135338984249936
135338984249264

In [ ]:
list1 = [1,2,3,4,5]
list2 = list1
print(id(list1))
print(id(list2))
list2.append(6)
print(id(list1))
print(id(list2))
print(list1)

135338984317888
135338984317888
135338984317888
135338984317888
[1, 2, 3, 4, 5, 6]

**What data types exist in Python?** There are many more than listed here but here are some of the 'key' ones.

In [ ]:
strVar = "Welcome to CS5012"         #string
intVar = 1                           #int
floatVar = 1.0                       #float
listVar = [100, 2.5, "string"]       #list
tupleVar = (2, 6.8, "string")        #tuple
dictionaryVar = {"Key" : "Value"}    #dictionary
booleanVar = True                    #boolean
setVar = {1, 3, 5, 7, 9}             #set
noneVar = None                       #none

print(strVar)
print(type(strVar))
strVar = 34234234
print(strVar)
print(type(strVar))

Welcome to CS5012
<class 'str'>
34234234
<class 'int'>

**Conditionals Review** The syntax and use of conditionals should be familiar to everyone. Here is the exact code snippets shown in class -- feel free to run or adjust the following example to identify the possible outcomes here.

In [ ]:
num = 20
if num > 0:
 print("num is a positive number!")
elif num < 0:
 print("num is a negative number!")
else:
 print("num is zero")

num is a positive number!

In [ ]:
grade = 90
if grade >= 90:
 print("A")
elif grade >= 80:
 print("B")
elif grade >= 70:
 print("C")
elif grade >= 60:
 print("D")
else:
 print("F")

A

In [ ]:
grade = 90
if grade >= 90:
 print("A")
if grade >= 80:
 print("B")
if grade >= 70:
 print("C")
if grade >= 60:
 print("D")
else:
 print ("F")

A
B
C
D

**Loops Review** There are two kinds of loops in Python. When would you prefer to use one over the other?

In [ ]:
#for loop
for i in range(5):
 print(i)
count = 0

#while loop
while(count <5):
 print(count)
 count+=1

0
1
2
3
4
0
1
2
3
4

There are several keywords worth knowing in regards to Python loops. What are they and what do they do? What does this code block print (decide before running!)

In [ ]:
count = 0

while(True):
    if count % 2 == 0:
        count+=1
    else:
        pass

    if count > 10:
        break
    else:
        count+=1
        continue
        count+=1
    print('count: {}'.format(count))


print('count: {}'.format(count))

count: 11

**Functions Review** Almost every programming assessment in the class will be built around one or more functions. So let's review them!

In [ ]:
# function definition
def find_square(num):
    result = num * num
    return result

# function call
square = find_square(3)

print('Square:', square)

Square: 9

Variables in Python have scope and may only exist inside a function. What variables are *local* and what arent in the following example? Do you know why?

In [ ]:
def scopeFun(inNum, inStr):
     inNum += 100
     inStr = "Welcome to CS5012"
     return inNum,inStr

inNum = 10
inStr = "Hello!"
scopeFun(inNum,inStr)
print (inNum)
print (inStr)

10
Hello!

In [ ]:
def scopeFun(inList):
     inList.append(100)
     inList[0] = 99999
     return inList

inList = [1,2,3,4,5]
print (inList)
scopeFun(inList)
print (inList)

[1, 2, 3, 4, 5]
[99999, 2, 3, 4, 5, 100]

In [ ]:
def scopeFun(inList):
     inList = [100,200,300]
     return inList

inList = [1,2,3,4,5]
print (inList)
scopeFun(inList)
print (inList)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

**Here is an example of a Python Class**

In [ ]:
class Student:
    # Class attribute
    num_students = 0
    school_name = "XYZ School"
    # Constructor method to initialize the student object
    def __init__(self, name, student_id, major, gpa):
        self.name = name               # Instance attribute: name of the student
        self.student_id = student_id   # Instance attribute: student ID
        self.major = major             # Instance attribute: student's major
        self.gpa = gpa                 # Instance attribute: student's GPA

    # Method to simulate the student introducing themselves
    def introduce(self):
        print(f"Hello, my name is {self.name}. I'm majoring in {self.major}.")

    # Method to update the student's GPA
    def update_gpa(self, new_gpa):
        self.gpa = new_gpa
        print(f"{self.name}'s new GPA is {self.gpa}.")

    # Method to display the student's details
    def display_info(self):
        print(f"Name: {self.name}")
        print(f"Student ID: {self.student_id}")
        print(f"Major: {self.major}")
        print(f"GPA: {self.gpa}")
        print(f"School: {Student.school_name}")
    def incrementStudent(self):
         Student.num_students+=1
    def studentCount(self):
         print("student Count = " ,Student.num_students)

In [ ]:
# Creating objects (instances) of the Student class
student1 = Student("Alice", "S12345", "Computer Science", 3.8)
#updating class attribute
student1.incrementStudent()
student1.studentCount()
#updating class attribute
student2 = Student("Bob", "S67890", "Mathematics", 3.5)
student1.incrementStudent()
student1.studentCount()


# Accessing attributes and calling methods
student1.introduce()  # Output: Hello, my name is Alice. I'm majoring in Computer Science.
student1.display_info()
# Output:
# Name: Alice
# Student ID: S12345
# Major: Computer Science
# GPA: 3.8

student2.introduce()  # Output: Hello, my name is Bob. I'm majoring in Mathematics.
student2.update_gpa(3.9)  # Output: Bob's new GPA is 3.9.
student2.display_info()

student Count =  1
student Count =  2
Hello, my name is Alice. I'm majoring in Computer Science.
Name: Alice
Student ID: S12345
Major: Computer Science
GPA: 3.8
School: XYZ School
Hello, my name is Bob. I'm majoring in Mathematics.
Bob's new GPA is 3.9.
Name: Bob
Student ID: S67890
Major: Mathematics
GPA: 3.9
School: XYZ School

**End of Class Exercise** Time permitting, complete what is left of the in-class exercise. There are many ways to code this so consider what approach makes most sense to you.

In [ ]:
#getTotalTime calculate the difference between two times given in HH:MM:SS format in minutes
#INPUT:
# integer represeting the time in HH:MM:SS format
#OUTPUT:
#  difference between two times in minutes
def getTotalTime(start_time, end_time):
    pass

start_time = "14:30:00"
stop_time = "15:15:30"
print(f"Difference in minutes: {getTotalTime(start_time, stop_time)}") #should be 45.5 minutes

Difference in minutes: None

In [ ]:
"""
Game Rules
Four Matching Symbols/States: All four symbols/States are the same. Payout = $500.
Four of a Color: This implies all symbols are of the same color. Assuming Diamonds and Hearts are one color, and Spades and Clubs are another color. Payout = $100.
Three Matching Symbols in a Row: Three symbols are the same, and they are adjacent. Payout = $50.
One of Each Symbol: The symbols are 0, 1, 2, and 3, each appearing exactly once. Payout = $10.
"""

#INPUT:
# Four integers (Diamond = 0, Heart = 1, Spade = 2, Club = 3) defining a state
#OUTPUT:
# An integer storing the amount of money won at slot machine for that state
def slotMachine(c1, c2, c3, c4):
    pass

# Here are some example outputs to match!
print(slotMachine(0,0,0,0)) # Should be 500
print(slotMachine(1,0,0,0)) # Should be 100
print(slotMachine(0,0,0,2)) # Should be 50
print(slotMachine(0,1,0,1)) # Should be 100
print(slotMachine(0,1,3,1)) # Should be 0
print(slotMachine(2,0,3,1)) # Should be 10